{% extends "base.html" %}

{% block title %}
Categories
{% endblock %}

{% block content %}
<div>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Number of Receipts</td>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.receipt_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
